<h2>New bookshelf</h2>

<%= render "form.html", changeset: @changeset,
                        action: user_bookshelf_path(@conn, :create, @conn.assigns.current_user.id) %>

<%= link "Back", to: user_bookshelf_path(@conn, :index, @conn.assigns.current_user.id) %>
